<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Admin</title>

  <link rel="stylesheet" th:href="@{/css/admin/all.min.css}" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/admin/sb-admin-2.min.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/vendor/pace-minimal.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/index.css}" />

  <!-- js -->
  <script th:src="@{/js/admin/jquery.min.js}"></script>
  <script th:src="@{/js/admin/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/admin/jquery.easing.min.js}"></script>
  <script th:src="@{/js/admin/sb-admin-2.min.js}"></script>
  <script data-pace-options='{ "ajax": false }' th:src="@{/js/admin/vendor/pace.min.js}"></script>
  <script th:src="@{/js/config.js}"></script>
  <script th:src="@{/js/api.js}"></script>
  <script th:src="@{/js/admin/index.js}"></script>

</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
      <div class="sidebar-brand-text mx-3">Admin Web Blog</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li th:classappend="${ title == 'admin' ? 'active':'' }" class="nav-item">
      <a class="nav-link" href="/admin" >
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Addons
    </div>

    <!-- Nav Item - Accounts -->
    <li th:classappend="${ title == 'accounts' ? 'active':'' }" class="nav-item">
      <a class="nav-link" href="/admin/accounts">
        <i class="fas fa-users"></i>
        <span>Accounts</span></a>
    </li>

    <!-- Nav Item - Categories -->
    <li th:classappend="${ title == 'categories' ? 'active':'' }" class="nav-item">
      <a class="nav-link" href="/admin/categories">
        <i class="fas fa-gamepad "></i>
        <span>Categories</span></a>
    </li>

    <!-- Nav Item - Posts -->
    <li th:classappend="${ title == 'blogs' ? 'active':'' }" class="nav-item">
      <a class="nav-link" href="/admin/blogs">
        <i class="fas fa-envelope "></i>
        <span>Blogs</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small"
                         placeholder="Search for..." aria-label="Search"
                         aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="username-Tk" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
              <img class="img-profile rounded-circle"
                   th:src="@{/images/undraw_profile.svg}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid" layout:fragment="content">

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Your Website 2021</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/admin/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
<div th:if="${title == 'categories' && role == 'ROLE_ADMIN'}" class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="create-category-form">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="categoryModalLabel">Category Add</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" name="name" value="" required="true">
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <!--        <a class="btn btn-primary" href="#">Confirm</a>-->
          <input type="submit" value="Confirm" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
<div th:if="${title == 'categories' && role == 'ROLE_ADMIN'}" class="modal fade" id="categoryEditModal" tabindex="-1" role="dialog" aria-labelledby="categoryEditModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="edit-category-form">
        <div class="modal-header">
          <h5 class="modal-title" id="categoryEditModalLabel">Category Edit</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" hidden>
            <input type="text" class="form-control" name="id" value="" id="id-category-form-edit" required="true">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="name" value="" id="category-form-edit" required="true">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <input value="Confirm" type="submit" class="btn-primary btn">
        </div>
      </form>

    </div>
  </div>
</div>
<div th:if="${title == 'accounts' && role == 'ROLE_ADMIN'}" class="modal fade" id="accountCreateModal" tabindex="-1" role="dialog" aria-labelledby="accountCreateModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="create-account-form">
        <div class="modal-header">
          <h5 class="modal-title" id="accountCreateModalLabel">Account create</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" >
            <label for="account-username">User Name</label>
            <input type="text" class="form-control" name="username" value="" id="account-username" required="true">
          </div>
          <div class="form-group">
            <label for="account-password">Password</label>
            <input type="password" class="form-control" name="password" value="" id="account-password" required="true" minlength="8">
          </div>
          <div class="form-group">
            <label for="account-password">Role</label>
            <select name="role" required>
              <option value="admin">Admin</option>
              <option value="user">User</option>
              <option value="anonymous">Anonymous</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <input value="Confirm" type="submit" class="btn-primary btn">
        </div>
      </form>

    </div>
  </div>
</div>
<div th:if="${title == 'accounts' && role == 'ROLE_ADMIN'}" class="modal fade" id="accountEditModal" tabindex="-1" role="dialog" aria-labelledby="accountEditModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="edit-account-form">
        <div class="modal-header">
          <h5 class="modal-title" id="accountEditModalLabel">Account Edit</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group" hidden>
            <input type="text" class="form-control" name="id" value="" id="id-edit-input" required="true">
          </div>
          <div class="form-group">
            <label for="account-password">Password</label>
            <input type="password" class="form-control" name="password" value="" id="edit-account-password" required="true" minlength="8">
          </div>
          <div class="form-group">
            <label for="account-password">Role</label>
            <select id="select-edit-account" name="role" required>
              <option value="admin">Admin</option>
              <option value="user">User</option>
              <option value="anonymous">Anonymous</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <input value="Confirm" type="submit" class="btn-primary btn">
        </div>
      </form>

    </div>
  </div>
</div>


</body>
</html>