<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="" >
  <div class="container-fluid border-bottom-0 ">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="py-4">
          <img class="d-block mb-5" th:src="@{/images/banner.png}" alt="Gameleon Theme Dark Version"/>
          <p class="mb-3">Gameleon is a <b>WordPress arcade theme</b> for online games, gaming, HTML5 games, magazine, newspaper, reviews or blogging site.</p>
          <p class="mb-3">You can have your own unique gaming site using our WordPress Arcade Theme and impress your online players with this fully functional WordPress Theme for Online Games.</p>
          <p class="mb-3">Of course, you can use it for any other purpose: magazine, blog, newspaper, editorial or review site.</p>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="footer-item">
          <div class="title">
            <h3>
              <p>Top Rated Games</p>
            </h3>
          </div>
<!--          <div class="content-footer">-->
<!--            <div class="item-post">-->
<!--              <a href="#">-->
<!--                <img th:src="@{/images/game-19-80x80.jpg}" alt="post">-->
<!--              </a>-->
<!--              <div>-->
<!--                <a href="#">-->
<!--                  <h3>Ninja Has an Official Fortnite Skin Now</h3>-->
<!--                </a>-->
<!--                <span>Feb 25, 2021</span>-->
<!--                <p><i class="fa-solid fa-trophy"></i> 667 Plays</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item-post">-->
<!--              <a href="#">-->
<!--                <img th:src="@{/images/game-19-80x80.jpg}" alt="post">-->
<!--              </a>-->
<!--              <div>-->
<!--                <a href="#">-->
<!--                  <h3>Ninja Has an Official Fortnite Skin Now</h3>-->
<!--                </a>-->
<!--                <span>Feb 25, 2021</span>-->
<!--                <p><i class="fa-solid fa-trophy"></i> 667 Plays</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item-post">-->
<!--              <a href="#">-->
<!--                <img th:src="@{/images/game-19-80x80.jpg}" alt="post">-->
<!--              </a>-->
<!--              <div>-->
<!--                <a href="#">-->
<!--                  <h3>Ninja Has an Official Fortnite Skin Now</h3>-->
<!--                </a>-->
<!--                <span>Feb 25, 2021</span>-->
<!--                <p><i class="fa-solid fa-trophy"></i> 667 Plays</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="footer-item">
          <div class="title">
            <h3>
              <p>Users Online</p>
            </h3>
          </div>
          <div class="content-footer">
<!--            <div class="feedburner">-->
<!--              <p>Get the best games news into your inbox!</p>-->
<!--              <form>-->
<!--                <input type="text" placeholder="ENTER YOUR EMAIL" name="subscribe" >-->
<!--                <input id="gameleon_feedburner_submit" class="feedburner-subscribe" type="submit" value="Subscribe">-->
<!--              </form>-->
<!--            </div>-->
            <div class="widget-content">
              <p>
                <a href="/privacy-policy">
                  Privacy Policy
                </a>
              </p>
              <p>
                <a href="/contact-us">
                  Contact us
                </a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid py-3 border-top border-white footer-bottom">
      <div class="row">
        <div class="col-12 col-lg scene">
          <p>Copyright © 2020 Gameleon by <a class="text-white" href="#">Tiguan</a> All Rights Reserved.</p>
        </div>
        <div class="col-12 col-lg ">
          <div class="text-end brand">
            <a href="#">
              <i class="fa-brands fa-facebook"></i>
            </a>
<!--            <a href="#">-->
<!--              <i class="fa-brands fa-twitter"></i>-->
<!--            </a>-->
<!--            <a href="#">-->
<!--              <i class="fa-brands fa-instagram"></i>-->
<!--            </a>-->
            <a href="#">
              <i class="fa-brands fa-youtube"></i>
            </a>
<!--            <a href="#">-->
<!--              <i class="fa-brands fa-flickr"></i>-->
<!--            </a>-->
          </div>
        </div>
      </div>
  </div>
</footer>
</html>